@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.card {
    border-radius: 5px;
    color: #fff;
    border: 5px solid #fff;
    width: 400px;
    display: inline-block;
}

.card .avatar > img {
    width: 100%;
    height: 400px;
}

.data {
    padding: 25px;
    text-align: center;
}

.data .intro {
    font-size: 13px;
}

.skill {
    color: #000;
    width: 150px;
    font-size: 15px;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
}

@media (max-width: 600px) {
    .card {
        width: 350px;
    }
    .card .avatar > img {
        height: 350px;
    }

    .skill {
        width: 120px;
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .card {
        width: 300px;
    }
    .card .avatar > img {
        height: 300px;
    }
    .skill {
        width: 100px;
        font-size: 10px;
    }
}